html,body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #efeff0;
}
*{
    box-sizing: border-box;
}
.container{
    
}
.topnav{
padding: 20px 30px;
background-color: white;
color:#808080;
display: flex;
justify-content: space-between;
align-items: center;

}
.nav-options{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 25px;
    font-weight: 700;
    color: red;
    width:250px;
}
.menu-options{
    color:#808080;
    width: 200px;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: #808080;
}
.search{
    padding: 15px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border:none;
}
.custom-options{
    display: flex;
    width: 28%;
    justify-content: space-between;
    align-items: center;
}
.basebutton{
    padding:7px;
    border: 1px solid red;
    color: red;
    background-color: white;
    border-radius: 15px;
    font-weight: 700;
    font-size: 13px;
}
.download-opts i{
    font-size:25px;
    padding: 7px;
    align-items: center;
}
.other-opts i{
    font-size:25px;
    padding: 7px;
    align-items: center;
}
.maindash{
    display: flex;
    align-content: center;
    height: 100%;
}
.queue{
    width:90px;
    background-color:#efeff0;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 99999;
}
.details{
    width:80%;
    background-color:#efeff0;
    padding: 0px 40px;


}
.q-title{
letter-spacing: 1px;
color: #808080;
font-weight: 700;
font-size: 13px;
margin: 0;
padding: 15px;
}
.q-title p{
    margin: 0;
}
hr{
    margin: 0;
}
.icon-list{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height:100%;
}
.line{
    padding:0.5px;
    background-color:grey;
    width: 100%;
}
.icon-img{
    margin:10px;
    opacity: 0.8;
}
.dash-opts{
    font-size: 13px;
    color: #808080;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px 0px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    margin:6px;
    list-style-position: unset;
    padding:0px;
}
.artist-details{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
h2{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}
p{
    margin: 0;
    padding: 0;
    color:#808080;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.artist{
    position: relative;
    height: 150px;
    width: 50%;
    margin-left:20px;
}
.artist-img{
border-radius: 10px;
opacity: 0.9;
}
.artist p{
    font-size: 10px;
    color: #808080; 
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.artist-name{
    position: absolute;
    top:0;
}
.play-options{
    position: absolute;
    bottom: 0;
  
}
.play-options-button{
    width:150px;
    padding: 10px;
    border: 1px solid red;
    color:white;
    background-color:red;
    border-radius: 18px;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.black{
    color: black;
    background-color: #efeff0;
    border: 1px solid black;
}
.songs-head{
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.songs-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 200px;
}
.songs-list{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction: column;
}
.song{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
}
.song li{
    list-style-type: none;
    font-size: 13px;
    color: #808080; 
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.num{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.num p{
    font-size: 16px;
    
}
.song-title{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: row;     
}
.song-title img{
    border-radius: 4px;
}
.song-artist{
    width:35%;
    text-align: center;  
}
.time{
    width:30%;
    text-align: center; 
}
.left-side{
    width: 30%;
    text-align: center;
}

